<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
  <br />
  Posts:
  <br />
  <%= render @tag.posts.all %>
  <% @tag.posts.each do |post|%>
    <!-- render :partial => "posts/show", :locals => { :post => post }-->
  <% end %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
