<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %><br />
  </div>
  <% for tag in Tag.all %>
  <div>
    <%= check_box_tag "post[tag_ids][]", tag.id, @post.tags.include?(tag) %>
    <%= tag.name %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div id="elements">
</div>

<div id="new_elements">
  <%= link_to "Add Images", new_post_image_url(@post), :id=>"add_images"  %>
</div>
