<!--<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", images_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_image_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", image_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.image.post_id", :default => t("activerecord.labels.post_id", :default => "Post")) %>:</b>
          <%= @image.post_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @image.description %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.path", :default => t("activerecord.labels.path", :default => "Path")) %>:</b>
          <%= @image.path %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.filename", :default => t("activerecord.labels.filename", :default => "Filename")) %>:</b>
          <%= @image.filename %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.content_type", :default => t("activerecord.labels.content_type", :default => "Content type")) %>:</b>
          <%= @image.content_type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.width", :default => t("activerecord.labels.width", :default => "Width")) %>:</b>
          <%= @image.width %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.height", :default => t("activerecord.labels.height", :default => "Height")) %>:</b>
          <%= @image.height %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.type", :default => t("activerecord.labels.type", :default => "Type")) %>:</b>
          <%= @image.type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.element_file_name", :default => t("activerecord.labels.element_file_name", :default => "Element file name")) %>:</b>
          <%= @image.element_file_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.element_content_type", :default => t("activerecord.labels.element_content_type", :default => "Element content type")) %>:</b>
          <%= @image.element_content_type %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.element_file_size", :default => t("activerecord.labels.element_file_size", :default => "Element file size")) %>:</b>
          <%= @image.element_file_size %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.image.element_updated_at", :default => t("activerecord.labels.element_updated_at", :default => "Element updated at")) %>:</b>
          <%= @image.element_updated_at %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_image_path(@image), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), image_path(@image), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>-->

<%= stylesheet_link_tag('jquery.fileupload-ui') %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui' %>

<script type="text/javascript" charset="utf-8"> 
   $(function () {
  $('.upload').fileUploadUI({
        uploadTable: $('.upload_files'),
        downloadTable: $('.download_files'),
        buildUploadRow: function (files, index) {
            var file = files[index];
            return $('<tr><td>' + file.name + '<\/td>' +
                    '<td class="file_upload_progress"><div><\/div><\/td>' +
                    '<td class="file_upload_cancel">' +
                    '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                    '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                    '<\/button><\/td><\/tr>');
        },
        buildDownloadRow: function (file) {
            return $('<tr><td><img alt="Photo" width="40" height="40" src="' + file.pic_path + '">' + file.name + '<\/td><\/tr>');
        },
    });
});
</script>

<div class="files"> 
<%= form_for @upload, :html => { :class => "upload", :multipart => true } do |f| %>
  <%= f.file_field :picture %>
  <div>Upload files</div>
<% end %>

<table class="upload_files"></table>
<table class="download_files"></table>
</div>