<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @image.post_id %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>

<p>
  <b>Path:</b>
  <%= @image.path %>
</p>

<p>
  <b>Filename:</b>
  <%= @image.filename %>
</p>

<p>
  <b>Content type:</b>
  <%= @image.content_type %>
</p>

<p>
  <b>Width:</b>
  <%= @image.width %>
</p>

<p>
  <b>Height:</b>
  <%= @image.height %>
</p>

<p>
  <b>Type:</b>
  <%= @image.type %>
</p>


<%= link_to 'Edit', edit_post_image_path(@post) %> |
<%= link_to 'Back', post_images_path %>
