<!DOCTYPE html>
<html>
<head>
  <title>Bridalka</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.fileupload.js" %>
  <%= javascript_include_tag "jquery.fileupload-ui.js" %>
  <%= javascript_include_tag "jquery.fileupload-uix.js" %>
  <% javascript_include_tag "fileupload.js" %>
<script type="text/javascript" charset="utf-8"> 
   $(function () {
  $('.upload').fileUploadUI({
        uploadTable: $('.upload_files'),
        downloadTable: $('.download_files'),
        buildUploadRow: function (files, index) {
            var file = files[index];
            return $('<tr><td>' + file.name + '<\/td>' +
                    '<td class="file_upload_progress"><div><\/div><\/td>' +
                    '<td class="file_upload_cancel">' +
                    '<button class="ui-state-default ui-corner-all" title="Cancel">' +
                    '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                    '<\/button><\/td><\/tr>');
        },
        buildDownloadRow: function (file) {
            return $('<tr><td><img alt="Photo" width="40" height="40" src="' + file.pic_path + '">' + file.name + '<\/td><\/tr>');
        },
        beforeSend: function (event, files, index, xhr, handler, callBack) {
          handler.uploadRow.find('.file_upload_start button').click(function () {
            callBack();
              return false;
        });
    }
    });
});
</script>
  <%= csrf_meta_tag %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div>
    <% if user_signed_in? %>
      <%= current_user.email %> is logged in. If user is not you, click <%= link_to "Sign Out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Register", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
